 /* *{
  
    border: 1px solid red;
}  */

.container{
    background: radial-gradient(rgb(107, 87, 107), rgb(13, 3, 27));
    height: 1000px;
    width: 920px;
    /* margin: 5px;
    padding: 5px; */
}
.header {
    display: inline-block;
    background-color:gainsboro;
    width: inherit;
    height: 80px;
    padding: 0px;
}
.header div {
    display: inline-block;
    margin-left: 20px;
    text-align: center;

}
#rightheader{
    margin-left: 350px;
}
.about{
     width: 920px;
    height:310px;
    display: inline-block;
}
#picture {
    width: 395px;
    height: 260px;
    background-image: url("./portfolio_images/photo_of_me.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid grey;
    margin:25px;
    margin-right: 12.5px;
    display: inline-block;
}

.abouttxt {
    display: inline-block;
    background-color: blanchedalmond;
    width: 395px;
    height: 270px; 
    margin-left: 12.5px;
    margin-top: 25px;
    vertical-align: top;

}
.txtsection {
    margin:20px;
    padding:5px;

}
#aboutheader h2{
background: linear-gradient(0.50turn, gainsboro, rgb(165, 131, 165), gainsboro);
margin-top: 1px;
vertical-align: text-top;
}

.content{
    width:920px;
    height: 550px;
    text-align: justify;
    text-align-last:center;
}
.project {
background-color: antiquewhite;
display: inline-block;
width: 260px;
height: 500px;
margin: 15px;
vertical-align: text-top;

}

.title {
background: linear-gradient(0.50turn, gainsboro, rgb(163, 158, 163), gainsboro);
vertical-align: text-top;
}

.title h2 {
    height:30px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.projectPic{
    margin:0px;
}
.projectText p{
    margin:5px;
    margin-top: 0px;
}
.techHeader{
background: linear-gradient(0.50turn, gainsboro, rgb(163, 158, 163), gainsboro);
vertical-align: text-top;
}

.techHeader h3 {
    height:30px;
    margin: 0px;
    padding: 0px;
    color: white;
    vertical-align: middle
}
.technologies {
    padding: 5px;
    margin:15px;
}
.techButton button{
    color: white;
    padding:4px;
    background-color: seagreen;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 6px;
}
footer{
    display: inline-block;
    background-color: gainsboro;
    width:920px;
    height: 80px;
    margin:0px;
}
footer div{
    display: inline-block;
        margin:10px;
}

#email{
    display: inline-block;
    width:460px;
    text-align: right;
    margin:0px;
    margin-top: 20px;

 
}

#phoneNum {
    display: inline-block;
    width:455px;
    margin:0px;
    margin-top: 20px;
 
}
.links {
        text-align: center;
      width:920px;

}
