 *{
  
    border: 1px solid red;
} 

.container{
    background: radial-gradient(rgb(107, 87, 107), rgb(13, 3, 27));
    height: 1000px;
    width: 920px;
    /* margin: 5px;
    padding: 5px; */
}
.header {
    display: inline-block;
    background-color:gainsboro;
    width: inherit;
    height: 80px;
    padding: 0px;
}
.header div {
    display: inline-block;
    margin-left: 20px;
    text-align: center;

}
#rightheader{
    margin-left: 350px;
}
.about{
     width: 920px;
    height:310px;
    display: inline-block;
}
#picture {
    width: 395px;
    height: 260px;
    background-image: url("./portfolio_images/photo_of_me.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid grey;
    margin:25px;
    margin-right: 12.5px;
    display: inline-block;
}

.abouttxt {
    display: inline-block;
    background-color: blanchedalmond;
    width: 395px;
    height: 270px; 
    margin-left: 12.5px;
    margin-top: 25px;
    vertical-align: top;

}
.txtsection {
    margin:20px;
    padding:5px;

}
#aboutheader h2{
background: linear-gradient(0.50turn, gainsboro, rgb(165, 131, 165), gainsboro);
margin-top: 1px;
vertical-align: text-top;
}

.content{
    width:920px;
    height: 650px;
    text-align: justify;
    text-align-last:center;
}
.project {
background-color: antiquewhite;
display: inline-block;
width: 260px;
height: 475px;
margin: 15px;
vertical-align: text-top;

}

.title {
background: linear-gradient(0.50turn, gainsboro, rgb(163, 158, 163), gainsboro);
vertical-align: text-top;
}

.title h2 {
    height:30px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.projectPic{
    height: 100px;
    width: 258px;
    background-image: url("./portfolio_images/photo_of_me.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.projectText p{
    margin:5px;
}
.techHeader{
background: linear-gradient(0.50turn, gainsboro, rgb(163, 158, 163), gainsboro);
vertical-align: text-top;
}

.techHeader h3 {
    height:30px;
    margin: 0px;
    padding: 0px;
    color: white;
}