/* *{
    background-color: aquamarine;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
} */

.container{
    background: radial-gradient(rgb(107, 87, 107), rgb(13, 3, 27));
    height: 1000px;
    width: 920px;
    /* margin: 5px;
    padding: 5px; */
}
.header {
    display: inline-block;
    background-color:gainsboro;
    width: inherit;
    height: 80px;
    padding: 0px;
}
.header div {
    display: inline-block;
    margin-left: 20px;
    text-align: center;

}
#rightheader{
    margin-left: 350px;
}
.about{
     width: 920px;
    height:310px;
    display: inline-block;
}
#picture {
    width: 395px;
    height: 260px;
    background-image: url("./portfolio_images/photo_of_me.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid grey;
    margin:25px;
    margin-right: 12.5px;
    display: inline-block;
}

.abouttxt {
    display: inline-block;
    background-color: blanchedalmond;
    width: 395px;
    height: 270px; 
    margin-left: 12.5px;
    margin-top: 25px;
    vertical-align: top;

}

#aboutheader h2{
background: linear-gradient(0.50turn, gainsboro, rgb(165, 131, 165), gainsboro);
margin-top: 1px;
vertical-align: text-top;


}